IPython
matplotlib
gym
gym_sokoban
peft
accelerate
codetiming
datasets==3.6.0
dill
flash-attn==2.7.4.post1
hydra-core
numpy==2.0.0
pandas
pybind11
ray>=2.10
tensordict==0.6.2
transformers==4.53.3
vllm==0.8.2
wandb
gymnasium
gymnasium[toy-text]

pyarrow>=15.0.0
pylatexenc
torchdata
debugpy

together
anthropic

# This is optional, but needs to be installed with main requirements if you want to use webshop
-r external/webshop-minimal/requirements.txt
